ion-card {
  margin-bottom: 20px;
}

ion-button {
  margin-top: 10px;
}

ion-list-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.mapContainer {
  margin: 10;
  text-align: center;
  align-items: center;
}