<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="viaje">
    <h2>{{ viaje.nombre }}</h2>
    <p><strong>Hora de salida:</strong> {{ viaje.hora_salida }}</p>
    <p><strong>Destino:</strong> {{ viaje.destino }}</p>
    <p><strong>Patente:</strong> {{ viaje.patente }}</p>
  </div>

  <div *ngIf="!viaje">
    <p>No hay viaje asignado en este momento.</p>
  </div>
</ion-content>